html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	height: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: #9fa1ce;
	padding: 10px 10px;
}

.header-text {
	font-size: 40px;
	margin: 10px;
}

.wrapper {
	height: 100%;
	/* margin-top: -60px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.center-header {
	font-size: 35px;
	text-align: center;
	color: #333;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

.form-label {
	font-size: 16px;
	color: #555;
	width: 50%;
}

.form-input {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
}

.form-button {
	padding: 10px 20px;
	background-color: #7266db;
	color: #fff;
	border: 1px solid #35317a;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-button:hover {
	background-color: #5245c9;
}

.results-header {
	font-size: 25px;
	text-align: center;
	color: #333;
	margin-top: 20px;
}

.results-description {
	font-size: 14px;
	text-align: center;
	color: #555;
	margin-top: 10px;
	width: 50%;
}

.list-container {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.list-item {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.platform-4-4,
.platform-3-3,
.platform-2-2,
.platform-1-1 {
	opacity: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.platform-4-3 {
	opacity: 0.75;
	box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.6);
}

.platform-3-2 {
	opacity: 0.67;
	box-shadow: 0 0 6.7px rgba(0, 0, 0, 0.53);
}

.platform-4-2,
.platform-2-1 {
	opacity: 0.5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.platform-3-1 {
	opacity: 0.33;
	box-shadow: 0 0 3.3px rgba(0, 0, 0, 0.25);
}

.platform-4-1 {
	opacity: 0.25;
	box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
	.form-input {
		width: 100%;
	}
}
