<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Related Artists</title>
	</head>
	<body>
		<h1>Find Related Artists</h1>
		<form method="get" action="/artist">
			<label for="artist">Enter an artist to find suggested artists</label>
			<input type="text" name="artist" placeholder="Enter an artist" />
			<button type="submit">Search</button>
		</form>
		{% if sorted_related_artists and platform_count %}
		<ul>
			{% for artist, rank in sorted_related_artists.items() %}
			<li>{{artist}}: {{rank}}/{{platform_count}}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
