<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Related Artists</title>
	</head>
	<body>
		<h1>Find Related Artists</h1>
		<form method="get" action="/artist">
			<label for="artist">Enter an artist to find suggested artists</label>
			<input type="text" name="artist" placeholder="Enter an artist" />
			<button type="submit">Search</button>
		</form>
		<!-- {% if related_artists %}
		<ul>
			{% for artist in related_artists["spotify"] %}
			<li>Spotify: {{ artist }}</li>
			{% endfor %} {% for artist in related_artists["deezer"] %}
			<li>Deezer: {{ artist }}</li>
			{% endfor %} {% for artist in related_artists["lastfm"] %}
			<li>Last.fm: {{ artist }}</li>
			{% endfor %} {% for artist in related_artists["tidal"] %}
			<li>Tidal: {{ artist }}</li>
			{% endfor %}
		</ul>
		{% endif %} -->
		{% if related_artists_ranked %}
		<ul>
			{% for artist in related_artists_ranked %}
			<li>{{artist}}: {{related_artists_ranked[artist]}}/4</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
